<html>
    <head>
        <title>Registration Page</title>
        {% load static %}
        <link href="{% static 'Registration.css' %}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="main_div">
            <h2 class="heading">
                Registration Form
            </h2>
            <form method="POST" action="{% url 'registrationlogin' %}">
            {% csrf_token %}
            <input type="text" placeholder="Enter Name" name="name" class="textbox" required="name"><br><br>
            <input type="text" placeholder="Enter Your Phone number" name="mobile" maxlength="10" class="textbox" required="mobile"><br><br>
            <input type="email" placeholder="Enter Your Email" name="email" class="textbox" required="email"><br><br>
            <input type="password" placeholder="Enter Your Password" name="password" class="textbox" required="password"><br><br>   
            <input type="submit" value="Registration" name="submit" class="textbox"><br><br>
            <a href="/Loginpage" class="login_button">Login</a>
        </form>
        </div>
    </body>
</html>